<header class = main-header>

  <div class = l-header>
    <h2 class = l-header__logo>エンジニア案件サイト</h2>
  </div>

  <div class = r-header>

    <div class = "r-header__top">
        <form id="form4" action="自分のサイトURL" method="get">
          <input id="sbox4"  id="s" name="s" type="text" placeholder="案件を入力してください" />
          <button id="sbtn4" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <div class = r-header__buttom>
      <li class = r-header__buttom-subitem>
        <a href = "#">案件を探す</a>
      </li>
      <li class = r-header__buttom-subitem>
        <a href = "#">ログイン</a>
      </li>
      <li class = r-header__buttom-subitem>
        <a href = "#">新規登録</a>
      </li>
      <li class = r-header__buttom-subitem>
        <a href = "#">Q&A</a>
      </li>
    </div>
  </div>

</header>