<header class = main-header>

  <div class = l-header>
    <h2 class = l-header__logo>エンジニア案件サイト</h2>
  </div>

  <div class = r-header>

    <div class = "r-header__top">
        <form id="form4" action="自分のサイトURL" method="get">
          <input id="sbox4"  id="s" name="s" type="text" placeholder="案件を入力してください" />
          <button id="sbtn4" type="submit">検索</button>
        </form>
    </div>

    <div class = r-header__buttom>
      <li class = r-header__buttom-subitem>
        <%= link_to "案件を探す", matter_index_path, class: "r-header__buttom-subitem-btn" %>
      </li>
      <li class = r-header__buttom-subitem>
        <%= link_to "ログイン", new_user_session_path, class: "r-header__buttom-subitem-btn" %>
      </li>
      <li class = r-header__buttom-subitem>
        <%= link_to "新規登録", new_user_registration_path, class: "r-header__buttom-subitem-btn" %>
      </li>
      <li class = r-header__buttom-subitem>
        <%= link_to "Qiita", new_matter_path, class: "r-header__buttom-subitem-btn" %>
      </li>
    </div>
  </div>

</header>